html,body {
	font-family:  "Roboto Mono";
  height: 100%;
  width: 100%;
	padding:0px;
	margin: 0px;

}


body{
	
	background-color: #b81f14;
}
h1{
	display:flex;
	color: #ffffff;
	justify-content:center;
}

.tabs_section {
   background-color: #E5D352;
   overflow: hidden;
}

.tabs_section a {
   float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
}

.tabs_section a:hover {
   background-color: #b81f14;
   color: lightgoldenrodyellow;
}

.tabs_section a.active {
   background-color: #b81f14;
   color: white;
}

.image{
   height: 180px;
   width: 180px;
}

p{
   color: #f2f2f2;
}

#logo{
   height:50px;
   width:100px;
   display:flex;
   justify-content:center;
}
